.jumbotron {
    background-color: #00c9ac;
    color: white;
}
footer {
    padding: 10px 10px 0 10px;
    background-color:#00c9ac;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;

}
h3 {
    color: #7c7cea;
}
.btn{
    background-color: #7c7cea;
    border:none;
    color:white
}
.card-curso{
    flex: 1 150px;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
   
}

.btn-inscribirme{
    width: 100%;
  
}
a {
    color: white;
}
